/* General styles */
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
}
h1 {
    font-size: 3em;
    margin-top: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* Navigation menu */
#nav-bar {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.nav-menu-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.nav-menu-overlay a:hover, .nav-menu-overlay a:focus {
    color: #f1f1f1;
}
.nav-menu-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.nav-menu {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding-left: 0;
}
.icon {
    color: white;
    display: block;
    font-size: xx-large;
}
.icon:hover {
    color: #ffc300;
}
.icon:visited {
    color: white;
}
#logo {
    background-image: url("../img/logo.png");
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Navigation links */
.nav-menu-overlay a, .nav-menu-overlay li {
    list-style-type: none;
    padding: 0 5px;
    margin-bottom: 20px;
    color: #818181;
    transition: 0.3s;
}
.nav-menu-overlay li {
    color: #818181;
    font-size: xx-large;
}
.nav-menu-overlay a:hover, .nav-menu-overlay li:hover {
    color: #f1f1f1;
}
.nav-menu-overlay a:visited, .nav-menu-overlay li:visited {
    color: #818181;
}
.nav-menu-overlay a:focus, .nav-menu-overlay li:focus {
    color: #f1f1f1;
}
.nav-menu-overlay a .active {
    color: #f1f1f1;
}

/* Main Content */
section {
    padding: 50px 10%;
}
h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
}
.heading-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/siyuan-g_V2rt6iG7A-unsplash.jpg");
    background-attachment: fixed;
}
.hero-image {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text p {
    margin-bottom: 5px;
}
.side-image {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.side-text {
    width: 100%;
}
.section-side-right {
    display: flex;
    flex-flow: column;
}
.section-side-right h2 {
    margin-top: 50px;
}
.section-light {
    background-color: white;
    color: #0C1821;
}
.section-fullwidth {
    margin: 0;
    padding: 0;
}
.section-dark {
    background-color: #0C1821;
    color: white;
}
.section-dark h2 {
    color: white;
}
#booking-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/andrew-seaman-sQopSb2K0CU-unsplash.jpg");
}
#menu-image {
    background-image: url("../img/sebastian-coman-photography-dUqX2Eq-2jk-unsplash.jpg");
}

/* Buttons */
button {
    padding: 10px 20px;
    margin: 10px auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.0);
}
button:hover {
    cursor: pointer;
}
.btn-light {
    border-color: #0C1821;
    color: #0C1821;
    transition: 0.3s;
}
.btn-light:hover {
    background-color: #0C1821;
    border-color: #0C1821;
    color: white;
}
.btn-dark {
    background-color: white;
    border-color: white;
    color: #0C1821;
    transition: 0.3s;
}
.btn-dark:hover {
    background-color: #ffc300;
    border-color: #ffc300;
    color: #0C1821;
}

/* Footer */
footer {
    display: flex;
    flex-flow: column;
    padding: 40px 10%;
    background-color: #0C1821;
    color: white;
    text-align: center;
    position: relative;
}
footer h3 {
    color: white;
}
#to-top {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    top: 20px;
    right: 0px;
    transition: 0.3s;
}
#to-top:hover {
    background-color: #ffc300;
}
#to-top a {
    color: #0C1821;
}
#to-top a:hover {
    color: #0C1821;
}
#to-top a:visited {
    color: #0C1821;
}

/* @media */
@media (min-width: 800px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    section {
        padding: 50px 20%;
    }
    footer {
        flex-flow: row;
        justify-content: space-around;
        text-align: left;
    }
    .section-side-right {
        flex-flow: row;
        padding: 70px 10%;
    }
    .section-side-right h2 {
        text-align: left;
        margin-top: 0;
    }
    .side-image {
        height: 400px;
        width: 50%;
        background-position: 70% 50%;
    }
    .side-text {
        width: 50%;
        padding-left: 5%;
    }
    .hero-image {
        height: 500px;
    }
    #logo {
        height: 50px;
        width: 50px;
        margin-left: 0;
    }
}