/*
Index:
- Elements
- Classes
- IDs
- @media
*/

/* Elements */
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
}
h1 {
    font-size: 3em;
    margin-top: 0;
}
nav {
    display: flex;
    flex-flow: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 50px;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.2em;
    color: white;
    margin: 0;
}
nav li {
    list-style-type: none;
    padding: 0 5px;
    margin-bottom: 20px;
}
nav li:hover {
    border-bottom: 2px solid #ffc300;
    margin-bottom: -2px;
}
nav a:visited {
    color: white;
}
nav a .active {
    border-bottom: 2px solid #ffc300;
    margin-bottom: -2px;
    color: white;
}
section {
    padding: 50px 10%;
}
h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
}
button {
    padding: 10px 20px;
    margin: 10px auto;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.0);
}
button:hover {
    cursor: pointer;
}
footer {
    display: flex;
    flex-flow: column;
    padding: 40px 10%;
    background-color: #0C1821;
    color: white;
    text-align: center;
    position: relative;
}
footer h3 {
    color: #ffc300;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* Classes */
.hero-image {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-text p {
    margin-bottom: 5px;
}
.side-image {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.side-text {
    width: 100%;
}
.section-side-right {
    display: flex;
    flex-flow: column;
}
.section-side-right h2 {
    margin-top: 50px;
}
.section-light {
    background-color: white;
    color: #0C1821;
}
.section-fullwidth {
    margin: 0;
    padding: 0;
}
.section-dark {
    background-color: #0C1821;
    color: white;
}
.section-dark h2 {
    color: #ffc300;
}
.btn-light {
    border-color: #0C1821;
    color: #0C1821;
}
.btn-light:hover {
    background-color: #0C1821;
    border-color: #0C1821;
    color: white;
}
.btn-dark {
    background-color: white;
    border-color: white;
    color: #0C1821;
}
.btn-dark:hover {
    background-color: #ffc300;
    border-color: #ffc300;
    color: #0C1821;
}

/* IDs */
#logo {
    background-image: url("../img/logo.png");
    height: 40px;
    width: 40px;
    margin: 10px auto 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#heading-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/siyuan-g_V2rt6iG7A-unsplash.jpg");
    background-attachment: fixed;
}
#booking-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/andrew-seaman-sQopSb2K0CU-unsplash.jpg");
}
#menu-image {
    background-image: url("../img/sebastian-coman-photography-dUqX2Eq-2jk-unsplash.jpg");
}
#to-top {
    background-color: #ffc300;
    padding: 5px 10px;
    border-radius: 0px 0px 0px 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}
#to-top:hover {
    background-color: white;
}
#to-top a {
    color: #0C1821;
}
#to-top a:hover {
    color: #0C1821;
}
#to-top a:visited {
    color: #0C1821;
}

/* @media */
@media (min-width: 800px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    nav {
        flex-flow: row;
        align-items: center;
    }
    nav ul{
        justify-content: space-between;
    }
    nav li {
        padding: 0 10px;
    }
    section {
        padding: 50px 20%;
    }
    footer {
        flex-flow: row;
        justify-content: space-around;
        text-align: left;
    }
    .section-side-right {
        flex-flow: row;
        padding: 70px 10%;
    }
    .section-side-right h2 {
        text-align: left;
        margin-top: 0;
    }
    .side-image {
        height: 400px;
        width: 50%;
        background-position: 70% 50%;
    }
    .side-text {
        width: 50%;
        padding-left: 5%;
    }
    .hero-image {
        height: 500px;
    }
    #logo {
        height: 50px;
        width: 50px;
        margin-left: 0;
    }
}